@model List<AspnetcoreEcommercedemo.Models.Products>

@{ 
    ViewData["Title"] = "Cart";

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="heading"> <span>Your Cart</span> </h1>
        </div>
    </div>
    <div class="row pt-5">
        <div class="container">
            <div class="table-responsive p-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Product Type</th>
                            <th>Color</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/@item.Image" width="200px" height="150px" />
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.ProductTypes.ProductType</td>
                                <td>@item.ProductColor</td>
                                <td>
                                    <a asp-area="UI" asp-action="Remove" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>
        </div>
        <div class="col-md-6 tex-right">
            <h3>Total Amount</h3>
            <h3>Gran Total : @Model.Sum(c => c.Price)</h3>
            <a asp-area="UI" asp-action="Checkout" asp-controller="Order" class="btn btn-info">Process to Check Out</a>
        </div>
    </div>
</div>
